.button-container{
    
    float: left;
}

.disabled {
    background-color: #706457 !important;
    border-color: #3f3e38 !important;
}

.container{
    padding-top: 20px;
    align-items: center;
}

.aligncontainer{
    padding-bottom:60pt;
}

.alignleft{
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.alignright{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}