.button-container{  
    float: left;
}

.container{
    padding-top: 20px;
    align-items: center;
}

.alignleft{
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.alignright{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}