$pumptrakr-module-stroke-color: #c5a785;
$pumptrakr-text-dk-brown: #3f3e38;

.button-container{ 
    float: left;
}

.container{
    padding-top: 20px;
    align-items: center;
}

.alignleft{
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

.alignright{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .heading, .button-container{
        max-width: 45%;
@media (min-width: 768px) {  }
        margin: 0px auto;
    }
}